*.class.vscode/bin/target
# Biar file-file/folder ini ga ikut ke-commit
*.class
.vscode/
bin/
target/
/Praktikum 10/In-Lab/jdbc_mhs_service/nbproject/private/
/Praktikum 10/In-Lab/jdbc_mhs_service/build/
